:root{
    //colors
--color-primary: rgb(106, 126, 218);
--color-primary-dark: rgb(34, 53, 73);
--color-primary-light: rgb(112, 134, 230);

--color-secondary: rgb(236, 102, 61);
--color-secondary-dark: rgb(110, 47, 29);
--color-secondary-light: rgb(250, 108, 65);

--color-tertiary: rgb(247, 193, 84);
--color-tertiary-dark: rgb(120, 93, 41);
--color-tertiary-light: rgb(255, 199, 87);

--color-gray-light: #a1a1a1;
--color-gray-dark: #333;

--color-white: #ffffff;

--color-sunny: #fef2ee;
    // FONT
--font-default: 1.4rem;
}