.footer{
    letter-spacing: 1px;
    background-color: var(--color-primary-dark);
    padding: 5rem 0;
    color: #ddd;
    &__flex{
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid #555;
        padding-bottom: 4rem;
        margin-bottom: 4rem;
        flex-wrap: wrap;
    }
    &__social-icons{
        
    }
    &__links-container{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__contact{
        &-address{
            color: var(--color-gray-light);
            font-size: var(--font-default);
            display: flex;
            flex-direction: column;
            text-transform: capitalize;
            letter-spacing: 1px;
            margin-bottom: 2rem;
        }
        &-mail{
            font-size: var(--font-default);
            margin-bottom: 2rem;
        }
        &-phone{
            margin-bottom: 2rem;
            font-size: 1.6rem;
        }
    }
    &__nav{
        &-list{
            list-style: none;
        }
        &-item{
            display: block;
            &:not(:last-child){margin-bottom: 2rem;}
        }
        &-link{
            text-decoration: none;
            color: inherit;
            font-size: 1.6rem;
            background-image: linear-gradient(120deg, transparent 50%, var(--color-white) 50%);
            background-size: 300%;
            transition: all 0.2s ease-in-out;
            padding: 1rem;
            margin-left: -1rem;
            &:hover{
                background-position: 100%;
                color: var(--color-gray-dark) !important;
            }
        }
    }
    &__subscribe{
        &-form{
            position: relative;
            &__input{
                padding: 1.5rem 3rem;
                min-width: 30rem;
                border-radius: 100rem;
                font-size: 1.6rem;
                border: none;
                font-family: inherit;
                height: 5rem;
                &::-webkit-input-placeholder{
                    color: var(--color-gray-light);
                }
            }
            &__btn{
                background-color: var(--color-secondary);
                height: 5rem;
                width: 5rem;
                border-radius: 50%;
                position: absolute;
                right: -1px;
                top: 0;
                display: flex;
                justify-content: center;
                align-items: center;
                border: none;
                cursor: pointer;
                &-icon{
                    width: 2rem;
                    height: 2rem;
                }
            }
        }
    }
    &__docs-links{}
    &__doc-link{
        &, &:link, &:visited{
            text-decoration: none;
            color: var(--color-white);
            font-size: var(--font-default);
            text-transform: capitalize;
            transition: all 0.2s ease-in-out;
            &:not(:last-child){margin-right: 3rem;}
        }
        &:hover{
            color: var(--color-secondary-light);
        }
    }
    &__copyright{
        &-text{
            font-size: var(--font-default);
            color: rgba(255, 255, 255, 0.7);
        }
    }
    &__link{
        &, &:link, &:visited{
            transition: all 0.2s ease-in-out;
            display: inline-block;
            text-decoration: none;
            color: inherit;
            cursor: pointer;
        }
        &:hover{
            transform: scale(1.35) skewX(7deg) rotate(7deg);
            color: var(--color-primary-light);
            background-color: var(--color-primary-dark);
        }
        &--dev:hover{color: var(--color-primary-light);}
        &--designer:hover{color: var(--color-secondary-light);}
    }

    @include respond(tab-port){
        &__flex > *{
            flex-basis: 40% !important;
            margin-bottom: 3rem;
        }
        &__subscribe-form__input{
            min-width: 25rem;
        }
        &__docs-links{margin-bottom: 3rem;}
        &__copyright-text{margin-bottom: 1.5rem}
    }
}